.col-lg-6{
	
	height: 500px;
	width: 100%;

	

}
.col-lg-6 img{
	width: 100%;
	height: 400px;
	object-fit: cover;
	border-radius: 48px;
	padding: 2em;
	
}
.col-lg-6 h1{
	padding-left: 1em;
}
button {
	color:blue;
	margin:2em;
}
ul{
	list-style: none;
}

.hovering{
	color:white;
	background: grey;
	padding-left: 0.2em;
	transition:1s ease;

	

}
.hovering:hover{
	color:black;
	background: lightyellow;

}
.services-1{
	 color:white;
	 background: purple;
	 transition:1s ease;
}
.services-2{
	 color:white;
	 background: green;
	 transition:1s ease;
}
.services-3{
	 color:white;
	 background: orange;
	 transition:1s ease;
}
.services-4{
	 color:white;
	 background: skyblue;
	 transition:1s ease;
}

.services-1:hover{
	background:lightyellow;
	color:black;
}
.services-2:hover{
	background:lightyellow;
	color:black;
}
.services-3:hover{
	background:lightyellow;
	color:black;
}
.services-4:hover{
	background:lightyellow;
	color:black;
}
